*{
    /* background-color: black; */
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body > #day{
    width: 200px;
    height: 200px;
    position: absolute;
}

#night{
    width: 200px;
    height: 200px;
}